* {
    box-sizing: 0;
    padding: 0;
    margin: 0;
}

body {
    background-color: #add5fa;
    display: block;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #95b8f6;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor-1 {
    display: flex;
    flex-direction: column;
    width: 45rem;
    max-width: 90%;
    margin: 50px;
    background-color: #95b8f6;
    border-radius: 0.50em;
    padding: 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0 0 0 / 50%);
}

.contenedor-registros {
    display: flex;
    flex-direction: column;
    width: 45rem;
    max-width: 90%;
    margin: 50px;
    background-color: #95b8f6;
    border-radius: 0.50em;
    padding: 2rem;
    box-shadow: 0 0.1rem 0.4rem rgb(0 0 0 / 50%);
}

.contenedor-datos {
    display: flex;
    flex-direction: row;
}

.contenedor-imc {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

.contenedor-nivel {
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

label {
    font-size: large;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.contenedor-datos input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25em;
    border: none;
    margin-bottom: 1rem;
}

.contenedor-imc input {
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.25em;
    border: none;
    margin-bottom: 1rem;
}

.contenedor-imc button {
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
}

.contenedor-nivel input {
    width: 40%;
    padding: 0.5rem;
    border-radius: 0.25em;
    border: none;
    margin-bottom: 1rem;
}

.contenedor-registros button{
    float: right;
    width: 10rem;
    height: 2rem;
}

.contenedor-labels  {
    justify-content: center;
    margin: 1rem;
    display: flex;
}

.contenedor-labels  label{
    width: 10rem;
}

.contenedor-labels-2 {
    display: flex;
    justify-content: center;
}

.contenedor-labels-2  label{
    width: 10rem;
}
